  <div class="navbar d-flex align-items-around px-3" data-controller="scroll" data-action="scroll->scroll#scroll">


        <div class="logo">
          <%= link_to about_path do %>
            <%= image_tag("logo.jpeg", width: "35px", style: "border-radius: 50%") %>
          <% end %>
        </div>


        <div class="nav-cta">
          <%# <%= link_to "Home" %>
          <%= link_to "Menu", menu_path %>
          <%= link_to "Events", events_path%>
          <%= link_to "The Dragon Room", thedragonroom_path%>
        </div>


  </div>
